@charset "UTF-8";
/* VARIABLER vi har lavet vores farver til variabler*/
@font-face {
  font-family: "Abel";
  src: url(font/Abel/Abel-Regular.ttf);
}
@font-face {
  font-family: "Advent Pro";
  src: url(font/Advent_Pro/AdventPro-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: "Alef";
  src: url(font/Alef/Alef-Regular.ttf);
}
/*MIXINS vi laver mixin på topmenu da den skal genbruges til alle siderne*/
/* generelle regler for fontene*/
h1 {
  color: #040404;
  font-family: "Advent Pro";
  font-weight: 600;
  font-size: 55px;
}

h2 {
  color: #040404;
  font-family: "Advent Pro";
  font-size: 34px;
  font-weight: 400;
}

h3 {
  color: #040404;
  font-family: "Alef";
  font-size: 21px;
  font-weight: 300;
}

p {
  color: #040404;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.liste li {
  width: 80%;
  line-height: 1.2rem;
  color: #040404;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13.5px;
  padding-bottom: 1rem;
}

.knap {
  padding: 0.8rem;
  background-color: #0075FF;
  width: 15%;
  text-align: center;
  border-radius: 13px;
  box-shadow: 2px 2px 5px #999999;
  margin: 2rem;
}
.knap a {
  color: #f7f7f7;
  font-family: "Abel";
  font-size: 20px;
  text-decoration: none;
}

.knap:hover {
  background-color: #4198FF;
  cursor: pointer;
  box-shadow: none;
}

.btn {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  background-color: #0075FF;
  width: 8rem;
  border-radius: 13px;
  color: #FFF9F1;
  font-size: 24px;
  font-family: "Abel";
  box-shadow: 2px 2px 5px #999999;
}

.btn:hover {
  background-color: #4198FF;
  cursor: pointer;
  box-shadow: none;
}

.header_logo:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.active {
  color: #F1F8FF;
}

.tilbage-link {
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  z-index: 100;
  -o-object-fit: cover;
     object-fit: cover;
  width: 8%;
  background-color: #FFEAD7;
  border-radius: 6px;
}

.tilbage-link:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.quizboks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF9F1;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 10px;
  width: 55%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.quizboks h2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.quizboks h3 {
  padding-top: 1rem;
  text-align: center;
}
.quizboks .options {
  text-align: start;
  padding-left: 5rem;
}
.quizboks .btn {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  z-index: 300;
  cursor: pointer;
}
.quizboks .knap {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  z-index: 300;
}

.hide .quizboks {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 2px 5px 15px #E4E4E4;
  position: fixed;
  width: 100%;
  z-index: 500;
}
body header .logo {
  padding: 2.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  z-index: 100;
}
body header .header_logo {
  height: 2.2rem;
}
body header .topmenu {
  z-index: 100;
}
body header .topmenu-links {
  display: flex;
  list-style-type: none;
  font-family: "Abel";
  font-size: 1.1rem;
}
body header .topmenu-links a {
  padding-left: 2rem;
  padding-right: 2rem;
  color: #040404;
  text-decoration: none;
}
body header .topmenu-links :hover {
  color: #0075FF;
}
body header .topmenu-links :active {
  color: #4198FF;
}
body header .topmenu-links .active {
  color: #4198FF;
}
body main {
  padding: 5rem;
}
body main img {
  width: 100%;
}
body main .boks1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
}
body main .boks1 h1 {
  margin-bottom: 0;
  margin-left: 2rem;
}
body main .boks1 h3 {
  margin-top: 3px;
  margin-left: 2rem;
}
body main .boks1 p {
  padding-top: 1.5rem;
  padding-right: 3rem;
  margin-left: 2rem;
  line-height: 1.2rem;
}
body main .boks1 .overlay1 {
  position: relative; /* set container to a relative position */
}
body main .boks1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: 90%;
  margin: 3rem;
  border-radius: 14px;
}
body main .boks1 .knap {
  width: 25%;
  position: absolute;
  top: 70%;
  left: 28%;
}
body main .boks2 {
  padding-top: 8rem;
}
body main .boks2 h2 {
  text-align: center;
  background-color: #FFF9F1;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 4px;
}
body main .boks2 h3 {
  text-align: center;
  padding-top: 0.5rem;
  margin-bottom: 0;
}
body main .boks2 p {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  line-height: 1.2rem;
}
body main .boks2 .overlay2 {
  position: relative;
  display: inline-block;
}
body main .boks2 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60%;
  border-radius: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
body main .boks2 .knap {
  width: 35%;
  position: absolute;
  top: 60%;
  left: 30%;
}
body main .boks3 {
  padding-top: 5rem;
  text-align: center;
}
body main .boks3 h2 {
  margin-bottom: 0;
  margin-bottom: 0.3rem;
}
body main .boks3 p {
  width: 36%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body main .boks3 .knap {
  width: 26%;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
body main .boks4 h1 {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 12rem;
  text-align: center;
}
body main .boks4 h3 {
  margin-top: 0;
  padding-top: 2rem;
  text-align: center;
}
body main .boks4 .graa-streg {
  margin-top: 10rem;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
body main .boks4 .knap {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-bottom: 4rem;
}
body main .test_overskrift {
  font-weight: 300;
  text-align: center;
  padding-top: 1.5rem;
}
body main .boks5 {
  margin-top: 3rem;
  padding-top: 3rem;
  text-align: center;
  border: #E4E4E4 solid 1px;
  padding-bottom: 2rem;
  border-radius: 6px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 4px 4px 5px #E4E4E4;
}
body main .boks5 h2 {
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: 500;
}
body main .boks5 p {
  margin-top: 1.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}
body main .boks5 .knap {
  width: 26%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
body main .boks5 .knap a {
  font-size: 22px;
}
body main .graa-streg {
  height: 1px;
  width: 80%;
  background-color: #E4E4E4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
body main .boks6 {
  margin-top: 6rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 2px 2px 5px #999999;
  border-radius: 4px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF9F1;
}
body main .boks6 .overlay3 {
  position: relative;
  display: inline-block;
}
body main .boks6 .overlay3 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  display: block;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
body main .boks6 .overlay3 h2 {
  width: 80%;
  position: absolute;
  text-align: center;
  background-color: #FFF9F1;
  top: 18%;
  left: 9.5%;
  border-radius: 4px;
}
body main .boks6 h3 {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}
body main .boks6 .knap {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
body main .boks7 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body main .boks7 .graa-streg {
  margin-top: 0;
  width: 100%;
  margin-bottom: 2rem;
}
body main .boks7 .overskrift1 {
  padding-top: 12rem;
}
body main .boks7 h2 {
  padding-top: 6rem;
}
body main .boks7 p {
  line-height: 1.2rem;
  padding-bottom: 2rem;
  font-style: italic;
  font-family: "Abel";
  font-size: 16px;
}
body footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #0075FF;
}
body footer img {
  padding: 2rem;
  padding-left: 3rem;
  padding-top: 3rem;
  width: 35%;
}
body footer p {
  color: #f7f7f7;
  padding-top: 2rem;
  padding-bottom: 2rem;
}/*# sourceMappingURL=styler.css.map */