.hide
  {
      display: none;
  }

.btn{
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    background-color: #0075FF;
    width: 8rem;
    border-radius: 13px;
    color: #FFF9F1;
    font-size: 24px;
}


/*----------------Landing page--------------*/

.overlay1:hover{
  opacity: 80%;
  cursor: pointer;
}


.overlay2:hover{
  opacity: 80%;
  cursor: pointer;
}


